@media (max-width: 1200px){

}

@media (max-width: 1024px){

}

@media (max-width: 992px){

}

@media (max-width: 768px){

}

@media (max-width: 576px){

  .btn-black{
    font-size: 16px;
    padding: 10px;
  }

  .btn-white{
    font-size: 16px;
    padding: 10px;
  }

  .btn-transparent{
    font-size: 16px;
    padding: 10px;
  }

  .btn-gray{
    font-size: 16px;
    padding: 10px;
  }

  .btn-green{
    font-size: 16px;
    padding: 10px;
  }

  .social-sites .btn-social{
    font-size: 0;
    width: 86px;
  }

  .social-sites .btn-social img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
  }

}

@media (max-width: 320px){

}