@media (max-width: 1200px){

}

@media (max-width: 1024px){

}

@media (max-width: 992px){
    .navbar-items{
        display: none;
    }
    .profile-dropdowns.active .profile-dropdowns-toggle{
        width: 100%;
        position: fixed;
        top: 55px;
        left: 0;
    }
    .mobile-menu{
        display: flex;
    }
}

@media (max-width: 768px){

  .container{
    padding: 0 10px;
  }


}

@media (max-width: 576px){

  .btn-black{
    font-size: 16px;
    padding: 10px;
  }

  .btn-white{
    font-size: 16px;
    padding: 10px;
  }

  .btn-transparent{
    font-size: 16px;
    padding: 10px;
  }

  .btn-gray{
    font-size: 16px;
    padding: 10px;
  }

  .btn-green{
    font-size: 16px;
    padding: 10px;
  }

  .email{
    padding: 0 20px;
  }

 .email-box .social-sites .btn-social{
    font-size: 0;
    width: 86px;
  }

  .emaile .emaile-box .email-box-subtitle{
    font-size: 13px;
  }

  .email .email-box .email-box-title{
    font-size: 12px;
  }

 .email-box .social-sites .btn-social img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
  }

  .email-box .register-now{
    font-size: 16px;
  }

  .email .email-box .email-change-kod{
    font-size: 10px;
  }

  .email .email-box .email-change-kod a{
    font-size: 10px;
  }

  .container-new-ticket .technical-support .footer-btn-new-ticket{
    width: 95%;
  }

  .container-new-ticket .technical-support .heading-tew-ticket{
    color: #222529;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .container-new-ticket .technical-support .title-new-ticket {
    color: #222529;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
  }

  .container-new-ticket .technical-support .watch-box span{
    font-size: 10px;
  }

  .container-new-ticket .technical-support .footer-btn-new-ticket .fields-new-ticket .submit-new-ticket{
    font-size: 14px;
  }

  .email-box .register-now{
    margin-top: 100px;
  }
  .standard-h1{
    font-size: 24px;
  }
  .standard-p{
    font-size: 13px;
  }
  .step-page-list-title{
    font-size: 13px;
  }
  .step-page-list-subtitle{
    font-size: 12px;
  }
  .menu-list-with-content{
    font-size: 13px;
  }


/*  request */
  .new-request .form {
    margin: 0 auto;
    height: 100%;
  }

  .new-request .form .form-inputs {
    padding: 15px 10px;
  }

  .new-request .form .form-inputs .new-tickets-fields{
    height: 63px;
    font-size: 14px;
    background: none;
  }

  .new-request .form .form-inputs .new-tickets-fields .def-fields-icon{
    opacity: 1;
  }

  .new-request .form .form-inputs .new-tickets-fields.active{
    border: none;
  }

  .new-request .form .form-inputs .new-tickets-fields span{
    font-size: 14px;
  }

  .new-request .form .form-inputs .subject-fields{
    height: 63px;
    font-size: 14px;
    background: none;
  }

  .new-request .form .form-inputs .subject-fields.active{
   border: none;
  }

  .new-request .form .form-input-box .subject {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .new-request .form .form-inputs .subject-fields span{
    font-size: 14px;
  }
  .new-request .form .form-input-box .subject .subject-fields {
    margin-bottom: 10px;
  }

  .new-request .form .form-input-box .subject #Description{
    border: none;
    font-size: 14px;
    height: 240px;
  }


  .new-request .form .todos .todo-item {
    font-size: 13px;
    padding: 5px 10px;
    margin-right: 10px;
    white-space: nowrap;
  }

  .new-request .form .form-heading span {
    font-size: 13px;
  }

  .new-request .form .form-heading .icons .X {
    margin-right: 15px;
  }

  .new-request .form .form-input-box {
    margin-top: 10px;
  }

  .new-request .form .footer-buttons {
    margin-top: 15px;
  }

  .def-fields-input::placeholder {
    color: #DFE2E6;
    font-size: 14px;
    line-height: 140%;
  }

}


@media (max-width: 400px){
  .new-request .form .form-input-box {
    margin-top: 10px;
  }

  .new-request .form .form-input-box .title {
    display: none;
  }

  .new-request .form .switch-new-ticket .switch-new-ticket-title{
    font-size: 10px;
  }

  .new-request .form .footer-buttons {
    margin-top: 0;
  }

  .new-request .form .footer-buttons .footer-buttons-btn {
    font-size: 0;

  }

  .new-request .form .footer-buttons .footer-buttons-btn img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
  }

}

@media (max-width: 320px){
  .email{
    padding: 0 10px;
  }


}