@media (max-width: 1200px){

}

@media (max-width: 1024px){

}

@media (max-width: 992px){

}

@media (max-width: 768px){

  .container{
    padding: 0 10px;
  }


}

@media (max-width: 576px){

  .btn-black{
    font-size: 16px;
    padding: 10px;
  }

  .btn-white{
    font-size: 16px;
    padding: 10px;
  }

  .btn-transparent{
    font-size: 16px;
    padding: 10px;
  }

  .btn-gray{
    font-size: 16px;
    padding: 10px;
  }

  .btn-green{
    font-size: 16px;
    padding: 10px;
  }

  .email{
    padding: 0 20px;
  }

 .email-box .social-sites .btn-social{
    font-size: 0;
    width: 86px;
  }

  .emaile .emaile-box .email-box-subtitle{
    font-size: 13px;
  }

  .email .email-box .email-box-title{
    font-size: 12px;
  }

 .email-box .social-sites .btn-social img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
  }

  .email-box .register-now{
    font-size: 16px;
  }

  .email .email-box .email-change-kod{
    font-size: 10px;
  }

  .email .email-box .email-change-kod a{
    font-size: 10px;
  }

  .container-new-ticket .technical-support .footer-btn-new-ticket{
    width: 95%;
  }

  .container-new-ticket .technical-support .heading-tew-ticket{
    color: #222529;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .container-new-ticket .technical-support .title-new-ticket {
    color: #222529;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
  }

  .container-new-ticket .technical-support .watch-box span{
    font-size: 10px;
  }

  .container-new-ticket .technical-support .footer-btn-new-ticket .fields-new-ticket .submit-new-ticket{
    font-size: 14px;
  }


}

@media (max-width: 320px){
  .email{
    padding: 0 10px;
  }
}