::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(17, 13, 35);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2929;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../assets/icons/date.svg) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

a {
  text-decoration: none;
}

main {
  margin-top: 65px;
  padding-bottom: 100px;
}

.trans {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}
.d-inline-block{
  display: inline-block;
}

.d-none {
  display: none !important;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

/*[placeholder]:empty::before {*/
/*  content: attr(placeholder);*/
/*  color: #555;*/
/*}*/

/*[placeholder]:empty:focus::before {*/
/*  content: "";*/
/*}*/

/* password  */

.def-fields {
  display: block;
  border-radius: 5px;
  background: #E4FFF9;
  padding: 10px;
  width: 100%;
  height: 63px;
  position: relative;
  border: 1px solid transparent;
  transition: 0.3s;
}


.def-fields:hover {
  border: 1px solid #b8fdf7;
}

.def-fields .def-fields-icon {
  transition: 0.3s opacity;
  opacity: 0;
}

.def-fields-title {
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  position: absolute;
  left: 10px;
  top: 20px;
  color: #222529;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  transition: 0.3s;
}

.def-fields-input {
  color: #222529;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1.6px;
  width: calc(100% - 45px);
  transition: 0.3s;
  opacity: 0;
  height: calc(100% - 10px);
  position: absolute;
  bottom: 10px;
  background: transparent;
}


.def-fields-input::placeholder {
  color: #DFE2E6;
  font-size: 16px;
  line-height: 140%;
}

.def-fields.text .def-fields-input {
  letter-spacing: 0;
  display: none;
}


.def-fields.text .def-fields-text-body {
  display: block;
  color: #222529;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1.6px;
  width: calc(100% - 45px);
  opacity: 0;
  position: relative;
  top: 15px;
  background: transparent;
  height: 55px;
  overflow: hidden;
  cursor: text;
  margin-top: -22px;
}
.def-fields.text{
  /*height: auto;*/
  padding-bottom: 25px;
}
.def-fields.text.disabled .def-fields-text-body{
  cursor: context-menu;
}

.def-fields.text.disabled .def-fields-text-icon-edit{
  display: block;
  cursor: pointer;
}

.def-fields.text .def-fields-text-icon-edit{
  display: none;
}

.def-fields.text.active{
  height: auto;
}
.def-fields.text.active.no-active .def-fields-text-icon-edit{
  display: none;
}

.def-fields.text.active .def-fields-text-body{
  opacity: 1;
  height: auto;
  min-height: 26px;
  margin-top: 0;
  letter-spacing: 0;
}

.def-fields.password .def-fields-input {
  color: #222529;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1.6px;
}

/*#password{*/
/*  font-size: 30px;*/
/*}*/


/*#password::placeholder {*/
/*    color: #222529;*/
/*  font-size: 14px;*/
/*}*/


.def-fields-icon, .def-fields-icon-edit, .def-fields-text-icon-edit {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.def-fields-icon-edit {
  display: none;
}

.def-fields.active {
  border: 1px solid #EAECEF;
  background: #FFF;
}

.def-fields.active .def-fields-title{
  top: 10px;
  font-size: 11px;
}

.def-fields.active .def-fields-input {
  opacity: 1;
  height: 22px;
}

.def-fields.active .def-fields-input {
  opacity: 1;
  height: 22px;
}

.def-fields.active .def-fields-icon {
  opacity: 1;
}

.def-fields.disabled {
  background: #F8F9FA;
  border: 0 !important;
}

.def-fields.disabled.disabled-active {
  background: #F8F9FA;
  border: 0 !important;
}

.def-fields.disabled.disabled-active .def-fields-title {
  top: 10px;
  font-size: 11px;
}

.def-fields.disabled.disabled-active .def-fields-input {
  opacity: 1;
  height: 22px;
  color: #EAECEF;
}

.def-fields.disabled.disabled-active .def-fields-icon-edit {
  display: block;
  cursor: pointer;
}


.def-fields.active.disabled .def-fields-icon {
  display: none;
}

.def-fields.active.disabled .def-fields-icon-edit {
  display: block;
}


/* ............. Login .......*/

.email {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
}

.email .email-box {
  width: 450px;
}

.wrapper {
  border-radius: 30px;
  background: #FFF;
  width: 100%;
  box-shadow: 0 4px 10px 0 rgba(53, 58, 63, 0.05);
  padding: 25px 20px;
}

.wrapper.login {
  margin-top: 100px;
}

.email .email-box .email-box-title {
  color: #6E757C;
  font-size: 14px;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.email .email-box .btn-email {
  width: 100%;
  margin-top: 25px;
}

.email .email-box .btn-email img {
  margin-right: 10px;
}

.email .email-box .input-kod {
  display: none;
}


.email .email-box .input-kod.active {
  display: initial;
}


.email .email-box .email-password {
  display: none;
}


.email .email-box .email-password.active {
  display: initial;
}

.email .email-box .fields-kod {
  margin-top: 15px;
}

.email .email-box .fields-password {
  margin-top: 15px;
  margin-bottom: 5px;
}

.email .email-box .email-change-kod {
  color: #AEB5BC;
  font-size: 13px;
  line-height: 120%;
  margin-top: 10px;
}

.email .email-box .email-change-kod a {
  color: #AEB5BC;
  font-size: 13px;
  line-height: 120%;
  text-decoration: underline;
}

.email .email-box .email-password a {
  color: #AEB5BC;
  font-size: 13px;
  line-height: 120%;
  text-decoration: underline;
}

.email-box .solid-text {
  width: 100%;
  height: 20px;
  position: relative;
  margin-top: 25px;
}

.email-box .solid-text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: #DFE2E6;
}

.email-box .solid-text span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #F8F8F8;
  height: 100%;
  padding: 0 20px;
  color: #DFE2E6;
  font-size: 14px;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
  white-space: nowrap;
}

.email-box .social-sites {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}

.email-box .social-sites .btn-social {
  display: flex;
  width: 116px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #EAECEF;
  cursor: pointer;
  color: #353A3F;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 165%;
}

.email-box .social-sites .btn-social img {
  margin-right: 10px;
}

.email-box .register-now {
  text-align: center;
  display: block;
  color: #353A3F;
  font-size: 20px;
  font-weight: 500;
  line-height: 165%;
  white-space: nowrap;
  margin-top: 200px;
  margin-bottom: 100px;
}

.email-box .register-now img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}


/*............  Login end ..............*/


/*   ........... Email..............         */


.emaile .emaile-box .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.emaile .emaile-box .email-box-subtitle {
  color: #222529;
  font-size: 15px;
  line-height: 165%;
  width: 100%;
}

.emaile .emaile-box .email-box-subtitle a {
  font-size: 15px;
  font-weight: 700;
  color: #222529;

}

.emaile .emaile-box .emaile-box-change {
  width: 100%;
}

.emaile .emaile-box .btn-emaile {
  width: 100%;
  margin-top: 25px;
}

.emaile .emaile-box .btn-emaile img {
  margin-right: 10px;
}


/*   ........... Email end..............         */


/* .......... New ticket ..................    */

.new-ticket-body{
  background: #F8F8F8;
}

.container-new-ticket .technical-support {
  margin-top: 90px;
  max-width: 620px;
}


.heading-tew-ticket {
  color: #222529;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 25px;
}

.title-new-ticket {
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  margin-top: 25px;
}

.container-new-ticket .technical-support .title-new-ticket a {
  text-decoration: underline;
  color: #2398AB;
}

.container-new-ticket .technical-support .watch-box {
  padding: 10px 20px;
  border-radius: 10px;
  background: #EAECEF;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.container-new-ticket .technical-support .watch-box span {
  color: #6E757C;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  margin-left: 10px;
}

.container-new-ticket .technical-support .footer-btn-new-ticket {
  position: fixed;
  bottom: 25px;
  background: #fff;
  padding: 10px;
  width: 620px;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(53, 58, 63, 0.05);
}

.container-new-ticket .technical-support .footer-btn-new-ticket .fields-new-ticket {
  background: #E4FFF9;
  width: 100%;
  padding: 10px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(53, 58, 63, 0.05);
  cursor: pointer;

}

.container-new-ticket .technical-support .footer-btn-new-ticket .fields-new-ticket .submit-new-ticket {
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  background: none;
  cursor: pointer;
}

/* request */

.new-request {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 37, 41, 0.90);
  backdrop-filter: blur(6px);
  overflow-y: auto;
  clip-path: polygon(0 86%, 0 100%, 8% 100%, 0% 100%);
  transition: .4s;
  opacity: 0;
}

.upload-box{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1500;
  background: rgba(34, 37, 41, 0.90);
}

.upload-box.active{
  display: flex;
}

.new-request.close{
  transform: translateY(-100%);
  opacity: 0;
}

.new-request.active{
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  transition: .4s;
  opacity: 1;
}

.new-request .form {
  max-width: 755px;
  width: 100%;
  background: #fff;
  margin: 50px auto;
}

.new-request .form .form-inputs {
  padding: 15px 20px;
}

.new-request .form .form-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-request .form .form-heading span {
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
}

.new-request .form .form-heading .icons img {
  cursor: pointer;
}

.new-request .form .form-heading .icons .X {
  margin-right: 20px;
}

.new-request .form .form-input-box {
  margin-top: 30px;
}

.new-request .form .form-input-box .title {
  color: #6E757C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
}

.new-request .form .form-input-box .inputs {
  display: flex;
  margin-top: 15px;
}

.new-request .form .form-input-box .inputs .new-tickets-fields {
  margin-right: 15px;
}

.new-request .form .form-input-box .subject {
  margin-top: 15px;
  margin-bottom: 15px;
}

.new-request .form .form-input-box .subject .subject-fields {
  margin-bottom: 15px;
}

.new-request .form .form-input-box .subject #Description {
  display: block;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 200px;
  position: relative;
  transition: 0.3s;
  resize: none;
  border: 1px solid #EAECEF;
  background: #FFF;
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.new-request .form .form-input-box .subject #Description::placeholder {
  color: #DFE2E6;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.new-request .form .todos{
  display: flex;
  overflow-y: auto;
  padding-bottom: 10px;
}


.new-request .form .todos .todo-item {
  padding: 5px 15px;
  border-radius: 10px;
  background: #EAECEF;
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
  cursor: pointer;
  margin-right: 15px;
  white-space: nowrap;
}

.new-request .form .todos .todo-item img {
  margin-left: 10px;
}


.new-request .form .switch-new-ticket {
  display: flex;
  align-items: center;
  margin-top: 15px;
}


.new-request .form .switch-new-ticket .switch-new-ticket-title {
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-left: 20px;
}

.new-request .form .switch-new-ticket .switch-new-ticket-title a {
  color: #2398AB;
  text-decoration: underline;
}

.new-request .form .footer-buttons {
  display: flex;
  background: #F8F8F8;
  margin-top: 25px;
  width: 100%;
  padding: 25px 20px;
  position: relative;
}

.new-request .form .footer-buttons .footer-buttons-btn-green {
  margin-left: 15px;

}

/* request end */


/* ........... New Ticket end.................*/




/*................  Ticket................ */

.ticket{
  background: #F8F8F8;
}

.ticket-container{
 margin-top: 90px;
}

.ticket-container .request-box{
  margin-bottom: 25px;
}


.ticket-container .request-box p{
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.ticket-container .request-box p a{
  color: #222529;
  font-weight: 500;
  text-decoration: none;
}

.ticket-container .chat{
  max-width: 620px;
  width: 100%;
}

.ticket-container .chat .btn-transparent-ticket{
  padding: 10px 0;
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  background: transparent;
}

.ticket-container .chat .heading-ticket{
  color: #222529;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 25px 0;
}

.ticket-container .chat .submissions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.ticket-container .chat .submissions a{
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  display: flex;
  align-items: center;
}

.ticket-container .chat .submissions a img{
  margin-right: 5px;
 position: relative;
  top: -2.1px;
}

.ticket-container .chat .watch-box {
  padding: 10px 20px;
  border-radius: 10px;
  background: #EAECEF;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.ticket-container .chat .watch-box span {
  color: #6E757C;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  margin-left: 10px;
}

.ticket-container .chat .wrapper-ticket{
  padding: 35px 20px;
  border: 1px solid #EAECEF;
  margin-top: 25px;
  background: #F8F8F8;
}

/*  message*/

.messages{
  max-height: 710px;
  overflow-x: auto;
}

.message{
  margin-bottom: 35px;

}

.message .message-ticket{
  border-radius: 5px;
  background: #D7E1E9;
  padding: 10px;
}

.message .message-ticket p{
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.message  .message-ticket p a{
    color: #2398AB;
    text-decoration: underline;
}

.message .user{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}

.message .user .user-about .user-name{
  display: flex;
  justify-content: end;
  color:  #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.message .user .user-about .data-message{
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.message .user .user-image{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 20px;
}

.message .user .user-image img{
  object-fit: cover;
  width: 100%;
}

  /* my-message */

.my-message{
  margin-bottom: 35px;
}

.my-message .my-message-ticket{
  border-radius: 5px;
  background: #fff;
  padding: 10px;
}

.my-message .my-message-ticket p{
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.my-message  .my-message-ticket p a{
  color: #2398AB;
  text-decoration: underline;
}

.my-message .file-download{
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border-radius: 5px;
  background: #EAECEF;
  padding: 10px;
  margin: 10px 0;
  white-space: nowrap;
}

.my-message .file-download .pdf-icon{
  margin-right: 10px;
}

.my-message .file-download .download-icon{
  margin-left: 10px;
}

.my-message .my-user{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}

.my-message .my-user .my-user-about .my-user-name{
  display: flex;
  justify-content: start;
  color:  #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.my-message .my-user .my-user-about .my-data-message{
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.my-message .my-user .my-user-image{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
}

.my-message .my-user .my-user-image img{
  object-fit: cover;
  width: 100%;
}


.contacts{
  text-align: center;
}


.contacts h2{
  color: #6E757C;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contacts a{
  display: block;
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.contacts a img{
  margin-right: 5px;
}

.contacts .contacts-email img{
  position: relative;
  top: 1.9px;
}

.contacts .contacts-email{
  margin-bottom: 10px;
}

.contacts p{
  margin-top: 35px;
  color: #6E757C;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
}

  /*.................  Ticket End ................. */


/*    .............. Ticket Message......    */


.ticket-message{
  background: #F8F8F8;
}

.got-a-message{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  background: #FF756B;
}
.got-a-message .got-a-message-container{
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.ticket-message .navbar.actives{
  margin-top: 40px;
}


.ticket-message-description{
  max-width: 620px;
  width: 100%;
  margin-top: 90px;
}

.ticket-message-description.actives{
  margin-top: 115px;
}

.ticket-message-description .btn-transparent-ticket{
  padding: 0;
  background: none;
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.ticket-message-description .heading-ticket-message{
  color: #222529;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 25px 0;
}

.ticket-message-description .title-ticket-message{
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.ticket-message-description .watch-box{
  padding: 10px 20px;
  border-radius: 10px;
  background: #EAECEF;
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.ticket-message-description .watch-box span{
  color: #6E757C;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  margin-left: 10px;
}

.ticket-message-description .btn-black img{
  margin-right: 10px;
}


/*       .history-of-dialogues  */

.history-of-dialogues{
  margin-top: 90px;
}

.history-of-dialogues .history-of-dialogues-heading{
  color: #222529;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

.history-of-dialogues .buttons{
  display: flex;
  margin: 25px 0;
  overflow-y: auto;
  padding-bottom: 10px;
}

.history-of-dialogues .buttons button{
  margin-right: 15px;
  white-space: nowrap;
}

.history-of-dialogues .buttons button:last-child{
  margin-right: 0;
}

.history-of-dialogues .wrapper{
  padding: 20px 20px;
  margin-bottom: 25px;
}

.history-of-dialogues .wrapper .buttons-wrapper{
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-of-dialogues .wrapper .buttons-wrapper a{
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.history-of-dialogues .wrapper .buttons-wrapper a img{
  margin-right: 5px;
  position: relative;
  top: 1.8px;
}

.history-of-dialogues .wrapper .wrapper-title{
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%;
  margin: 15px 0;
}

.history-of-dialogues .wrapper .wrapper-subtitle{
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.history-of-dialogues .wrapper .wrapper-title-min{
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
  margin: 15px 0;
}

.history-of-dialogues .wrapper .wrapper-subtitle-min{
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}


.history-of-dialogues .footer-title{
  color: #AEB5BC;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.history-of-dialogues .btn-gray{
  margin-top: 25px;
  margin-bottom: 40px;
}

/* .............. Ticket Message end */



/*  buttons */

.btn-link {
  background: none;
  color: #2398AB;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  cursor: pointer;
  transition: 0.3s;
}

.btn-link svg {
  transition: 0.3s;
}

.btn-link:hover path {
  stroke: #2398AB;
}

.btn-link svg {
  margin-right: 10px;
}


.btn-black {
  display: flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #353A3F;
  cursor: pointer;
  color: #F8F8F8;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 165%;
  transition: 0.3s;
}

.btn-black:hover {
  background: #282C30;
}

.btn-black img {
  margin-left: 10px;
}

.btn-white {
  display: flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #353A3F;
  cursor: pointer;
  color: #353A3F;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 165%;
  transition: 0.3s;
}

/* #353A3F */

.btn-white:hover {
  border: 1px solid #282C30;
  color: #282C30;
}

.btn-white img {
  margin-right: 10px;
}

.btn-transparent {
  display: flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  color: #353A3F;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 165%;
  transition: 0.3s;
}

.go-to-back{
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  background: none;
  cursor: pointer;
}

.go-to-back img{
  margin-right: 10px;
}

/* #282C30 */

.btn-transparent:hover {
  color: #282C30;
}

.btn-transparent img {
  margin-right: 10px;
}

.btn-gray {
  display: flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: #282C30;
  background: #EAECEF;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 165%;
  transition: 0.3s background-color;
}

.btn-gray:hover {
  background-color: #DFE2E6;
}

.btn-gray img {
  margin-right: 10px;
}

.btn-green {
  display: flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #00CF91;
  cursor: pointer;
  color: #F8F8F8;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 165%;
  transition: 0.3s;
}

.btn-green:hover {
  background: #00C58A;
}

.btn-green img {
  margin-left: 10px;
}


.btn-loading {
  position: relative;
  overflow: hidden;
  cursor: context-menu !important;
}


.btn-loading:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-loading:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../assets/icons/loading.svg") no-repeat center;
  background-size: contain;
  z-index: 2;
}

/*----------------- SWITCH -------------- */

.def-switch span {
  border-radius: 30px;
  background: #DFE2E6;
  width: 44px;
  height: 24px;
  padding: 0 2px;
  position: relative;
  display: inline-block;
  transition: 0.3s background-color;
}

.def-switch span:after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 22px;
  background: #FFF;
  transition: 0.3s;
  position: absolute;
  left: 2px;
  top: 2px;
}

.def-switch input {
  display: none;
}

.def-switch input:checked ~ span:after {
  left: 21px;
}

.def-switch input:checked ~ span {
  background-color: #00CF91;
}

.def-switch input:checked ~ span:hover{
  background-color: #00C58A;
}



/*----------------- MENU SITE -------------- */


.navbar {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.navbar-content {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 940px;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  color: #222529;
  font-size: 15px;
  font-weight: 500;
  line-height: 165%;
  border-radius: 10px;
  transition: 0.3s;
  margin-right: 2px;
  /*background: #00CF91;*/
}

.navbar-item.active {
  background: #00CF91;
  color: #fff;
}

.navbar-item svg {
  transition: 0.3s;
  margin-right: 10px;
}

.navbar-item.active svg path {
  stroke: #FFF;
  /*fill: #fff !important;*/
}

.navbar-item:hover {
  background: #E3E5E7;
}

.rocket-icon {
  display: flex;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  padding: 1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 2px;
  cursor: pointer;
}

.rocket-icon-green {
  display: none;
}

.rocket-icon.active {
  background: #00CF91;
}

.rocket-icon.active .rocket-icon-green {
  display: block;
}

.rocket-icon.active .rocket-icon-black {
  display: none;
}

.navbar-usr-info {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar.fixed {
  backdrop-filter: blur(10px);
  background-color: #ffffff3d;
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #EAECEF;
  border-bottom: 1px solid #EAECEF;
  background: #FFF;
  backdrop-filter: blur(6px);
  width: 100%;
  height: 65px;
  z-index: 1;
}

.mobile-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #222529;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
  margin: 0 2px;
  border-radius: 10px;
  padding: 7px;
}

.mobile-menu-item svg {
  margin-bottom: 5px;
}

.mobile-menu-item.active {
  background: #E3E5E7;
}

.mobile-menu-item-toggle {
  position: fixed;
  left: 0;
  bottom: 65px;
  background: #fff;
  padding: 10px;
  width: 100%;
  display: none;
  z-index: 1;
}

.mobile-menu-item-toggle.show {
  display: block;
}

.mobile-menu-item-toggle-item {
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.mobile-menu-item-toggle-item img {
  margin-right: 10px;
}


.profile-dropdowns-icon {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.profile-dropdowns-icon:hover {
  background: #E3E5E7;
}

.profile-dropdowns {
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 2px;
}

.profile-dropdowns.menu {
  width: auto;
}

.profile-dropdowns path {
  transition: 0.3s;
}

.profile-dropdowns.menu .profile-dropdowns-icon {
  width: auto;
  padding: 0 10px;
  color: #222529;
  font-size: 15px;
  font-weight: 500;
  line-height: 165%;
}

.profile-dropdowns.menu.active .profile-dropdowns-icon {
  width: auto;
  padding: 0 10px;
  color: #fff;
}

.profile-dropdowns-toggle {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  background: #FFF;
  box-shadow: 0 4px 10px 0 rgba(53, 58, 63, 0.05);
  margin-top: 5px;
  transition: 0.3s;
}

.profile-dropdowns.active .profile-dropdowns-toggle {
  display: flex;
}

.profile-dropdowns.active .profile-dropdowns-icon {
  background: #00CF91;
}

.profile-dropdowns.active .profile-dropdowns-icon path {
  stroke: #fff;
}

.profile-dropdowns-toggle-title {
  color: #6E757C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
  padding: 15px 10px;
}

.profile-dropdowns-toggle-item {
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}

.profile-dropdowns-toggle-item:hover {
  background: #EAECEF;
}

.profile-dropdowns-toggle-item img {
  margin-right: 10px;
}

.profile-dropdowns-toggle .btn-black {
  font-size: 20px;
  padding: 10px 15px;
  width: 100%;
  margin-top: 10px;
}

.profile-dropdowns-toggle .btn-black img {
  margin-left: 0;
  margin-right: 10px;
}


/*----------------- ALERT -------------- */

.alert {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222529;
  font-size: 13px;
  font-weight: 400;
  line-height: 120%;
  border-radius: 10px;
}

.alert svg {
  margin-left: 10px;
  cursor: pointer;
}

.alert svg:hover path {
  stroke: #000;
}

.alert.success {
  background: #C9FFBF;
}

.alert a {
  text-decoration: underline;
}

.alert.success a {
  color: #2398AB;
}

.note {
  padding: 10px 20px;
  width: 100%;
  color: #6E757C;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.note img {
  margin-right: 10px;
}

.note a {
  text-decoration: underline;
  margin-left: 8px;
  color: #2398AB;
}

.note.big {
  background: #EAECEF;
}

.note.warning {
  background: #FFFCBB;
}


/*----------------- BTN STATUS -------------- */

.btn-status {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-status.all-opened {
  background: #EAECEF;
}

.btn-status.all-opened:hover{
  background: transparent;
  border: 1px solid  #222529;
  color: #222529;
}


.btn-status.all-opened.disabled {
  color: #AEB5BC;
  background: transparent;
  border: 1px solid #EAECEF;
}

.btn-status.all-opened.disabled path {
  stroke: #AEB5BC;
}


.btn-status.no-read {
  color: #FFFFFF;
  background: #FF756B;
}

.btn-status.no-read:hover{
  background: transparent;
  border: 1px solid  #FF756B;
  color: #FF756B;
}

.btn-status.no-read.disabled {
  color: #AEB5BC;
  background: transparent;
  border: 1px solid #EAECEF;
}

.btn-status.no-read.disabled path {
  stroke: #FF756B;
}

.btn-status.no-read svg {
  margin-bottom: 2px;
}


.btn-status.wait {
  color: #222529;
  background: #BDCCFF;
}

.btn-status.wait:hover{
  background: transparent;
  border: 1px solid  #BDCCFF;
  color: #222529;
}


.btn-status.wait.disabled {
  color: #AEB5BC;
  background: transparent;
  border: 1px solid #EAECEF;
}

.btn-status.wait.disabled path {
  stroke: #BDCCFF;
}


.btn-status.read-it {
  color: #222529;
  background: #D7E1E9;
}

.btn-status.read-it:hover{
  background: transparent;
  border: 1px solid  #D7E1E9;
  color: #222529;
}

.btn-status.read-it.disabled {
  color: #AEB5BC;
  background: transparent;
  border: 1px solid #EAECEF;
}

.btn-status.read-it.disabled path {
  stroke: #D7E1E9;
}


.btn-status.closed {
  color: #FFFFFF;
  background: #4BB462;
}

.btn-status.closed:hover {
  background: transparent;
  border: 1px solid  #4BB462;
  color: #4BB462;
}

.btn-status.closed.disabled {
  color: #AEB5BC;
  background: transparent;
  border: 1px solid #EAECEF;
}

.btn-status.closed.disabled path {
  stroke: #4BB462;
}

.container-steps {
  padding-top: 25px;
}

.container-steps .alert {
  margin-bottom: 25px;
}


.standard-h1 {
  color: #222529;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
}

.standard-p {
  color: #222529;
  font-size: 15px;
  font-weight: 400;
  line-height: 165%;
}

.standard-p a {
  color: #2398AB;
  text-decoration: underline;
}

.standard-p b {
  color: #222529;
}

.standard-explanation {
  color: #AEB5BC;
  font-size: 13px;
  font-weight: 400;
  line-height: 120%;
}

.form-title{
  color: #6E757C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
}
.menu-list-with-content{
  display: flex;
  padding: 15px 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: #AEB5BC;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}
.menu-list-with-content span{
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #EAECEF;
  background: #EAECEF;
  color: #6E757C;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
  transition: 0.3s;
}

.menu-list-with-content.active{
  color: #222529;
  font-weight: 600;
}
.menu-list-with-content.active span{
  border: 1px solid #00CF91;
  background: #00CF91;
  color: #fff;
}


.menu-list-with-content.no-active{
  color: #222529;
}
.menu-list-with-content.no-active span{
  border: 1px solid #EAECEF;
  background: transparent;
  color: #6E757C;
}


/* ---------- STEP PAGE --------------- */

.step-page-list{
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 25px;
}
.step-page-list-icon{
  margin-right: 10px;
  margin-top: 5px;
}
.step-page-list-title{
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
  margin-bottom: 5px;
}

.step-page-list-subtitle{
  color: #AEB5BC;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.step-page-row{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.step-page-row-right{
  width: 300px;
  padding: 25px 20px;
  border-radius: 30px;
  border: 1px solid #EAECEF;
  margin-left: 20px;
}
.step-page-row-left{
  width: calc(100% - 317px);
}
.error-form{
  color: #FF756B;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.error-form a{
  text-decoration: underline;
  color: #FF756B;
}
.error-form-count{
  font-weight: 500;
}


.def-select select{
  display: none;
}

.def-select-header{
  width: 100%;
  height: 63px;
  padding: 10px;
  border-radius: 5px;
  background: #E4FFF9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid #E4FFF9;
  transition: 0.3s;
  position: relative;
  z-index: 10000;
}

.def-select-header-title{
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  position: absolute;
  left: 10px;
  top: 20px;
  transition: 0.3s;
}
.def-select-header-selected-name{
  color: #EAECEF;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  opacity: 0;
  position: absolute;
  left: 10px;
  top: 27px;
}

.def-select-header:hover{
  border: 1px solid #b7d5cd;
}
.def-select-header img{
  transition: 0.3s;
  transform: rotate(0);
  position: absolute;
  right: 10px;
  top: 24px;

}
.def-select-body{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #EAECEF;
  background: #FFF;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 5px;
  transition: 0.3s;
  display: none;
  z-index: 10000;
  position: relative;
}
.def-select-body-item{
  border-bottom: 1px solid #EAECEF;
  width: 100%;
  padding-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.def-select-body-item:hover{
  border-bottom: 1px solid #00CF91;
  /*transform: scale(1.001);*/
}
/*.def-select-body-item:last-child{*/
/*  border-bottom: 0;*/
/*}*/
.def-select-body-item-title{
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 5px;
}
.def-select-body-item-subtitle{
  color: #CFD4D9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.def-select.selected .def-select-header{
  background: #FFF;
  border: 1px solid #EAECEF;

}

.def-select.active .def-select-header img{
  transform: rotate(-180deg);
}
.def-select.selected .def-select-header .def-select-header-title{
  top: 10px;
  color: #6E757C;
  font-size: 11px;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
}
.def-select.selected .def-select-header .def-select-header-selected-name{
  opacity: 1;
}
.def-select.active .def-select-body{
  display: flex;
}

/*.def-select-header:focus ~ .def-select-body{*/
/*  display: flex;*/
/*}*/


.def-select-content{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  display: none;
}
.def-select.active .def-select-content{
  display: block;
  pointer-events: auto;
}
.user-information-title{
  color: #222529;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  margin-top: 15px;
  margin-bottom: 5px;
}
.files-drag-drop-center-item{
  width: 100%;
  height: 64px;
  border-radius: 5px;
  background: #EAECEF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 10px 5px 5px;
  color: #222529;
  font-size: 15px;
  font-weight: 500;
  line-height: 165%;
  margin-bottom: 15px;
}

.files-drag-drop-center-item span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 400px;
}

.files-drag-drop-center-item .file-image{
  width: 40px;
  height: 54px;
  border-radius: 5px;
  object-fit: cover;
  background-color: #fff;
  cursor: pointer;
}
.files-drag-drop-center-item-info{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
.files-drag-drop-center-title{
  color: #6E757C;
  font-size: 11px;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.files-drag-drop-center{
  border-radius: 5px;
  border: 3px dashed #EAECEF;
  padding: 15px 10px;
}

.files-drag-drop-center .fa-trash{
  cursor: pointer;
}

.icon-accent{
  display: flex;
 justify-content: start;
  align-items: center;
  flex: 1 0 0;
  color:  #FF756B;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  gap: 10px;
}
.icon-accent a{
  color:  #FF756B;
  text-decoration: underline;
}
.view-image{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(34, 37, 41, 0.90);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.3s;
}
.view-image.active{
  opacity: 1;
  transform: translateY(0);
}
.view-image-content {
  width: 100%;
  max-width: 504px;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.view-image-content-image{
  width: 100%;
  max-height: calc(100vh - 95px);
  object-fit: cover;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.view-image-content-image-information{
  width: 100%;
  border-radius: 5px;
  background: #4A5056;
  height: 45px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #DFE2E6;
  font-size: 13px;
  font-weight: 400;
  line-height: 165%;
  margin-top: 25px;
}

.view-image-content-image-information svg{
  cursor: pointer;
}
.view-image-content-image-information-remove{
  cursor: pointer;
}

.view-image-content-image-information svg path{
  stroke: #CFD4D9;
}
.view-image-content-image-information-text{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.mobile-menu-board {
  width: 30px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  .mobile-menu-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mobile-menu-board.active span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}
.mobile-menu-board.active span:nth-of-type(2) {
  opacity: 0;
}
.mobile-menu-board.active span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -10px;
}
.mobile-menu-board span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #000;
  position: relative;
}
.mobile-menu-board span:last-child {
  margin: 0;
}
.mobile-menu-board span:nth-of-type(1) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}
.mobile-menu-board span:nth-of-type(2) {
  opacity: 1;
}
.mobile-menu-board span:nth-of-type(3) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}
.btn-transparent-new-ticket {
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 0;
  background: transparent;
}