::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(17, 13, 35);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2a2929;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../assets/icons/date.svg) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

a {
    text-decoration: none;
}


.trans {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.cursor-pointer {
    cursor: pointer;
}

.d-none{
    display: none !important;
}

.bg-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}

/* password  */

.def-fields {
    display: block;
    border-radius: 5px;
    background: #E4FFF9;
    padding: 10px;
    width: 100%;
    height: 63px;
    position: relative;
    border: 1px solid transparent;
    transition: 0.3s;
}

.def-fields-alert{
    color: #FF756B;
    font-size: 12px;
    line-height: 120%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.def-fields:hover{
    border: 1px solid #b8fdf7;
}

.def-fields .def-fields-icon{
    transition: 0.3s opacity;
    opacity: 0;
}

.def-fields-title {
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: absolute;
    left: 10px;
    top: 20px;
    color: #222529;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    transition: 0.3s;
}

.def-fields-input {
    color: #222529;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1.6px;
    width: calc(100% - 10px);
    transition: 0.3s;
    opacity: 0;
    height: calc(100% - 10px);
    position: absolute;
    bottom: 10px;
    background: transparent;
}



.def-fields-input::placeholder {
    color: #DFE2E6;
    font-size: 16px;
    line-height: 140%;
}

#password{
  font-size: 30px;
}


#password::placeholder {
    color: #222529;
  font-size: 14px;
}




.def-fields-icon, .def-fields-icon-edit {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.def-fields-icon-edit{
    display: none;
}

.def-fields.active {
    border: 1px solid #EAECEF;
    background: #FFF;
}

.def-fields.active .def-fields-title{
    top: 10px;
    font-size: 11px;
}
.def-fields.active .def-fields-input {
    opacity: 1;
    height: 22px;
}
.def-fields.active .def-fields-icon{
    opacity: 1;
}
.def-fields.active.disabled{
    background: #F8F9FA;
}


.def-fields.active.disabled .def-fields-icon{
    display: none;
}

.def-fields.active.disabled .def-fields-icon-edit{
    display: block;
}



    /* ............. Login .......*/

.email{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
}

.email .email-box{
  width: 450px;
}

.wrapper {
  border-radius: 30px;
  background: #FFF;
  width: 100%;
  box-shadow: 0 4px 10px 0 rgba(53, 58, 63, 0.05);
  padding: 25px 20px;

}

.email .email-box .email-box-title{
  color: #6E757C;
  font-size: 14px;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.email .email-box .btn-email{
  width: 100%;
  margin-top: 25px;
}

.email .email-box .btn-email img {
  margin-right: 10px;
}

.email .email-box .input-kod{
  display: none;
}


.email .email-box .input-kod.active{
  display: initial;
}


.email .email-box .email-password{
  display: none;
}


.email .email-box .email-password.active{
  display: initial;
}

.email .email-box .fields-kod{
  margin-top: 15px;
}

.email .email-box .fields-password{
  margin-top: 15px;
  margin-bottom: 5px;
}

.email .email-box .email-change-kod{
  color: #AEB5BC;
  font-size: 13px;
  line-height: 120%;
  margin-top: 10px;
}

.email .email-box .email-change-kod a{
  color: #AEB5BC;
  font-size: 13px;
  line-height: 120%;
  text-decoration: underline;
}

.email .email-box .email-password a{
  color: #AEB5BC;
  font-size: 13px;
  line-height: 120%;
  text-decoration: underline;
}

.email-box .solid-text{
  width: 100%;
  height: 20px;
  position: relative;
  margin-top: 25px;
}

.email-box .solid-text:before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: #DFE2E6;
}

.email-box .solid-text span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #F8F8F8;
  height: 100%;
  padding: 0 20px;
  color: #DFE2E6;
  font-size: 14px;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
  white-space: nowrap;
}

  .email-box .social-sites{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 25px;
  }

.email-box .social-sites .btn-social{
    display: flex;
    width: 116px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #EAECEF;
    cursor: pointer;
    color:  #353A3F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 165%;
  }

.email-box .social-sites .btn-social img{
    margin-right: 10px;
  }

.email-box .register-now{
  text-align: center;
  display: block;
  color: #353A3F;
  font-size: 20px;
  font-weight: 500;
  line-height: 165%;
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.email-box .register-now img{
  margin-right: 10px;
  width: 16px;
  height: 16px;
}



/*............  Login end ..............*/


/*   ........... Email..............         */


.emaile .emaile-box .image{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.emaile .emaile-box .email-box-subtitle{
  color: #222529;
  font-size: 15px;
  line-height: 165%;
  width: 100%;
}

.emaile .emaile-box .email-box-subtitle a{
  font-size: 15px;
  font-weight: 700;
  color: #222529;

}

.emaile .emaile-box .emaile-box-change{
  width: 100%;
}

.emaile .emaile-box .btn-emaile{
  width: 100%;
  margin-top: 25px;
}

.emaile .emaile-box .btn-emaile img{
  margin-right: 10px;
}



  /*   ........... Email end..............         */


/* .......... New ticket ..................    */



.container-new-ticket .technical-support{
  margin-top: 25px;
  max-width: 620px;
}


.container-new-ticket .technical-support .btn-transparent-new-ticket{
  color: #222529;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 0;
}

.container-new-ticket .technical-support .heading-tew-ticket{
  color: #222529;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 25px;
}

.container-new-ticket .technical-support .title-new-ticket {
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  margin-top: 25px;
}

.container-new-ticket .technical-support .title-new-ticket a{
  text-decoration: underline;
  color: #2398AB;
}

.container-new-ticket .technical-support .watch-box{
  padding: 10px 20px;
  border-radius: 10px;
  background: #EAECEF;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.container-new-ticket .technical-support .watch-box span{
  color: #6E757C;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  margin-left: 10px;
}

.container-new-ticket .technical-support .footer-btn-new-ticket{
  position: fixed;
  bottom: 25px;
  background: #fff;
  padding: 10px;
  width: 620px;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(53, 58, 63, 0.05);
}

.container-new-ticket .technical-support .footer-btn-new-ticket .fields-new-ticket{
  background: #E4FFF9;
  width: 100%;
  padding: 10px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(53, 58, 63, 0.05);
  cursor: pointer;

}

.container-new-ticket .technical-support .footer-btn-new-ticket .fields-new-ticket .submit-new-ticket{
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  background: none;
  cursor: pointer;
}

  /* request */

.new-request{
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 37, 41, 0.90);
  backdrop-filter: blur(6px);

}

.new-request .form{
  max-width: 755px;
  padding: 15px 20px;
  background: #fff;
  margin: 50px auto;
}

.new-request .form .form-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-request .form .form-heading span{
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
}

.new-request .form .form-heading .icons img{
  cursor: pointer;
}

.new-request .form .form-heading .icons .X{
 margin-right: 20px;
}

.new-request .form .form-input-box{
  margin-top: 40px;
}

.new-request .form .form-input-box .title{
  color: #6E757C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  text-transform: uppercase;
}

.new-request .form .form-input-box .inputs{
  display: flex;
  margin-top: 15px;
}

.new-request .form .form-input-box .inputs .new-tickets-fields{
  margin-right: 15px;
}

.new-request .form .form-input-box .subject{
  margin-top: 15px;
  margin-bottom: 15px;
}

.new-request .form .form-input-box .subject .subject-fields{
  margin-bottom: 15px;
}

.new-request .form .form-input-box .subject #Description{
  display: block;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 243px;
  position: relative;
  transition: 0.3s;
  resize: none;
  border: 1px solid #EAECEF;
  background: #FFF;
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.new-request .form .form-input-box .subject #Description::placeholder{
  color: #DFE2E6;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.new-request .form .todos .todo-item{
  display: flex;
  padding: 5px 15px;
  align-items: center;
  border-radius: 10px;
  background: #EAECEF;
  max-width: 159px;
  color: #222529;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
  cursor: pointer;
}

.new-request .form .todos .todo-item img{
  margin-left: 10px;
}


  /* request end */



  /* ........... New Ticket end.................*/

/*  buttons */

.btn-link{
    background: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-decoration-line: underline;
    cursor: pointer;
}


.btn-link:hover{
    color: #0056D3;
}

.btn-link img{
    margin-right: 10px;
}


.btn-black{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #282C30;
    cursor: pointer;
    color: #F8F8F8;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 165%;
    transition: 0.3s;
}

.btn-black:hover{
    background: #3a4146;
}

.btn-black img{
    margin-left: 10px;
}

.btn-white{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #282C30;
    cursor: pointer;
    color: #282C30;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 165%;
}

.btn-white img{
    margin-right: 10px;
}

.btn-transparent{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    color: #282C30;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 165%;
}

.btn-transparent img{
    margin-right: 10px;
}

.btn-gray{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    color: #282C30;
    background: #DFE2E6;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 165%;
}

.btn-gray img{
    margin-right: 10px;
}

.btn-green{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #00C58A;
    cursor: pointer;
    color: #F8F8F8;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 165%;
}

.btn-green img{
    margin-left: 10px;
}


.btn-loading{
    position: relative;
    overflow: hidden;
    cursor: context-menu !important;
}

.btn-loading:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.btn-loading:after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../assets/icons/loading.svg") no-repeat center;
    background-size: contain;
    z-index: 2;
}

/*----------------- SWITCH -------------- */

.def-switch span{
    border-radius: 30px;
    background: #DFE2E6;
    width: 44px;
    height: 24px;
    padding: 0 2px;
    position: relative;
    display: inline-block;
    transition: 0.3s background-color;
}

.def-switch span:after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 22px;
    background: #FFF;
    transition: 0.3s;
    position: absolute;
    left: 2px;
    top: 2px;
}

.def-switch input{
    display: none;
}

.def-switch input:checked ~ span:after{
    left: 21px;
}
.def-switch input:checked ~ span{
    background-color: #00CF91;
}

/*----------------- SWITCH -------------- */


/*----------------- MENU SITE -------------- */


.navbar{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 940px;
}

.navbar-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: #222529;
    font-size: 15px;
    font-weight: 500;
    line-height: 165%;
    border-radius: 10px;
    transition: 0.3s;
    margin-right: 2px;
    /*background: #00CF91;*/
}

.navbar-item.active{
    background: #00CF91;
    color: #fff;
}

.navbar-item svg{
    transition: 0.3s;
    margin-right: 10px;
}

.navbar-item.active svg path{
    stroke: #FFF;
    /*fill: #fff !important;*/
}

.navbar-item:hover{
    background: #E3E5E7;
}

.rocket-icon{
    display: flex;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 2px;
    cursor: pointer;
}

.rocket-icon-green{
    display: none;
}

.rocket-icon.active{
    background: #00CF91;
}
.rocket-icon.active .rocket-icon-green{
    display: block;
}
.rocket-icon.active .rocket-icon-black{
    display: none;
}

.navbar-usr-info{
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar.fixed{
    backdrop-filter: blur(10px);
}

.profile-dropdowns-icon{
    width: 40px;
    height: 40px;
    display: flex;
    padding: 1px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 2px;
    cursor: pointer;
}

.profile-dropdowns-icon:hover{
    border-radius: 10px;
    background: #E3E5E7;
}

.profile-dropdowns{
    width: 40px;
    height: 40px;
    position: relative;
}

.profile-dropdowns-toggle{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    background: #FFF;
    box-shadow: 0 4px 10px 0 rgba(53, 58, 63, 0.05);
    margin-top: 5px;
    transition: 0.3s;
}

.profile-dropdowns.active .profile-dropdowns-toggle{
    display: flex;
}

.profile-dropdowns-toggle-title{
    color: #6E757C;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
    padding: 15px 10px;
}

.profile-dropdowns-toggle-item{
    color: #222529;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
    width: 100%;
    cursor: pointer;
}

.profile-dropdowns-toggle-item:hover{
    background:  #EAECEF;
}


.profile-dropdowns-toggle-item img{
    margin-right: 10px;
}

.profile-dropdowns-toggle .btn-black{
    font-size: 20px;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
}
.profile-dropdowns-toggle .btn-black img{
    margin-left: 0;
    margin-right: 10px;
}



/*.navbar-item .icon {*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    margin-right: 10px;*/
/*    background: url("../assets/icons/users.svg");*/
/*    !*fill: #fff;*!*/
/*}*/


/*----------------- MENU SITE -------------- */